@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.btn {
  @apply border border-action py-2 px-4 rounded-lg shadow-md shadow-red-700;
}

.btn:hover {
  @apply bg-action text-primaryDark;
}
.container {
  max-width: 1000px;
}